@tailwind base;
@tailwind components;
@tailwind utilities;


/* GLOBAL STYLES SETUP */
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.btn-primary {
  @apply text-white;
}